@import "var";

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    font-family: "ＭＳ Ｐゴシック", sans-serif;
    font-size: 12px;
    letter-spacing: 1px;
 }

 .main {
  min-height: 55vh;
  background-color: $light-grey;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media (width < 1269px) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (width < 769px) {
    padding-left: 40px;
    padding-right: 40px;
  }
 }

.form {
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: black;

  &__select {
    width: 40%;
    display: flex;
    justify-content: center;
    gap: 20px;

    @media (width < 769px) {
      width: 80%;
  }

  @media (width < 480px) {
    flex-direction: column;
    gap: 10px;
   }
  }

  @media (width < 480px) {
    padding-left: 20px;
    padding-right: 20px;
   }
}

.no-chara {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 200;
}