.link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(246, 246, 246);
    padding: 20px;
    border-radius: 10px;
    color: black;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.082);
    transition: width 0.5s, color 0.5s, background-color 0.5s;

    &:hover {
        width: 100%;
        color: palevioletred;
        background-color: white;
    }
    
    img {
        width: 100%;
    }

    &__name {
        text-transform: capitalize;
        display: inline-block;
        text-align: center;
        padding-top: 10px;
    }

    &__details {
        font-weight: 100;
        font-size: 14px;
        padding-top: 3px;
    }
}