.list-box {
   width: 100%;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
   justify-items: center;
   gap: 40px;
   padding-top: 30px;
   padding-left: 60px;
   padding-right: 60px;
   padding-bottom: 40px;

   @media (width < 968px) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   }

   @media (width < 769px) {
    grid-template-columns: 1fr 1fr 1fr;
   }

   @media (width < 480px) {
    grid-template-columns: 1fr 1fr;
   }
}

.loader-box {
   padding-top: 20px;
   width: 100%;
   height: 30px;
   display: flex;
   justify-content: center;
 }

 .loader-list {
   border: 6px dotted palevioletred;
   border-radius: 50%;
   width: 30px;
   height: 30px;
   animation: spin 2s linear infinite;
 }
 
 @keyframes spin {
   0% { transform: rotate(0deg); }
   100% { transform: rotate(360deg); }
 }
 
 .hidden {
   display: none;
 }