.input {
    width: 35%;
    background-color: rgb(242, 214, 223);
    border: none;
    padding:10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: solid 1px rgb(109, 109, 109);
    border-radius: 5px;

    @media (width < 769px) {
        width: 80%;
    }

    &::placeholder {
        color: palevioletred;
    }

    @media (width < 480px) {
        width: 100%;
    }
}

.select {
    width: 40%;
    font-size: 12px;
    display: flex;
    // justify-content: center;
    

    &__box {
        background-color: rgb(242, 214, 223);
        margin-left: 5px;
        padding-left: 5px;
        width: 35%;
        border: solid 1px rgb(109, 109, 109);
        display: flex;
        border-radius: 5px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    @media (width < 968px) {
        width: 100%;
        &__box {
            width: 40%;
        }
       }
    
       @media (width < 769px) {
        &__box {
            width: 60%;
        }
       }
    
       @media (width < 480px) {
        flex-direction: column;
        align-items: center;
        &__box {
            margin-top: 5px;
            width: 80%;
        }
       }
}

.type {
    justify-content: left;
}

.gen {
    justify-content: right;
}