@import "var";

.header {
    height: 35vh;
    background-color: $light-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    padding-top: 5%;

    &__logo {
        width: 400px;
        min-height: 50px;
        background-image: url(../images/title.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        @media (width < 480px) {
            width: 300px;
        }
        
    }

    a {
        color: palevioletred;
        font-weight: 500;
    }
}

