  //colors
  $light-grey: rgb(230, 230, 230);
  $grey: rgb(109, 109, 109);
  $almost-white: rgb(246, 246, 246);
  $blue: rgb(7, 192, 225);
  $pink: palevioletred;
  $light-pink: rgb(242, 214, 223);
  $green: rgb(65, 177, 140);